In [2]:
import pandas as pd
import numpy as np

# Import data

In [9]:
data = pd.read_csv('../../data/train_airbnb_berlin.csv', delimiter = ',')

# Data preprocessing

In [11]:
data.head()

'''
'Listing ID' : useless, take out of data
'Listing Name' : useless, take out of data
'Host ID' : transform feature to number of listings
'Host Name' : useless, take out of data (except if we can separate by gender --> new feature gender of host)
'Host Since' : transform date into a continuous number
'Host Response Time': build 4 discrete values + unknown for NaNs
'Host Response Rate': transform percentage to number + treat NaNs
'Is Superhost' : transform to binary 0, 1
'neighbourhood' : tranform classes to numbers (not sure, think about it)
'Neighbourhood Group' : transform classes to numbers, but is this feature usefull ??
'City' : useless, take out of data
'Postal Code' : leave as is
'Country' : useless, take out of data
'Country Code' : useless, take out of data
'Latitude' : keep as is
'Longitude' : keep as is + we could think of a feature combining Latitude and Longitude
'Is Exact Location' : transform to binary
'Property Type' : transform classes to numbers
'Room Type' : transform to 3 discrete variables
'Accomodates' : leave as is
'Bathrooms' : leave as is
'Bedrooms' : leave as is
'Beds' : leave as is
'Square Feet' : take out of data because 98% of NaNs
'Guests Included' : leave as is
'Min Nights' : leave as is
'Reviews' : leave as is (number of reviews)
'First Review' : transform date into a continuous number
'Last Review' : transform date into a continuous number
'Overall Rating' : leave as is
'Accuracy Rating' : leave as is
'Cleanliness Rating' : leave as is
'Checkin Rating' : leave as is
'Communication Rating' : leave as is
'Location Rating' : leave as is
'Value Rating' : leave as is
'Instant Bookable' : transform to binary
'Business Travel Ready' : transform to binary
'Price' : leave as is
'''

,Listing ID,Listing Name,Host ID,Host Name,Host Since,Host Response Time,Host Response Rate,Is Superhost,neighbourhood,Neighborhood Group,...,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready,Price
0,19665213.0,*,156079597.0,Maximilian,2016-01-20,NaN,NaN,f,Prenzlauer Berg,Pankow,...,100.0,10.0,10.0,10.0,10.0,9.0,10.0,t,f,26.0
1,6436842.0,*,5302290.0,Dulie,2013-04-07,NaN,NaN,f,Pankow,Pankow,...,90.0,9.0,9.0,10.0,10.0,9.0,10.0,f,f,41.0
2,10559468.0,*,59151456.0,Geank,2016-02-07,NaN,NaN,f,Prenzlauer Berg,Pankow,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,f,50.0
3,27215482.0,*,193452785.0,Alix,2018-06-26,NaN,NaN,f,Friedrichshain,Friedrichshain-Kreuzberg,...,100.0,10.0,10.0,10.0,10.0,10.0,9.0,f,f,50.0
4,27287546.0,*,205870244.0,Lurina,2013-05-16,within a few hours,92%,t,Prenzlauer Berg,Pankow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,f,55.0

In [12]:
data.shape

(15692, 39)

In [34]:
data.isnull().sum()/data.shape[0]

Listing ID               0.000064
Listing Name             0.003441
Host ID                  0.000000
Host Name                0.001402
Host Since               0.001338
Host Response Time       0.450867
Host Response Rate       0.450867
Is Superhost             0.001466
neighbourhood            0.000000
Neighborhood Group       0.000000
City                     0.000064
Postal Code              0.014593
Country Code             0.000000
Country                  0.000000
Latitude                 0.000000
Longitude                0.000000
Is Exact Location        0.000000
Property Type            0.000000
Room Type                0.000000
Accomodates              0.000000
Bathrooms                0.000892
Bedrooms                 0.000319
Beds                     0.000510
Square Feet              0.980691
Guests Included          0.000000
Min Nights               0.000000
Reviews                  0.000000
First Review             0.172381
Last Review              0.172445
Overall Rating           0.188759
Accuracy Rating          0.189332
Cleanliness Rating       0.189268
Checkin Rating           0.189460
Communication Rating     0.189268
Location Rating          0.189332
Value Rating             0.189396
Instant Bookable         0.000000
Business Travel Ready    0.000000
Price                    0.000574
dtype: float64

In [41]:
np.unique(data['neighbourhood']).shape

(63,)

In [38]:
data['First Review']

0        2017-07-07
1        2015-05-26
2        2016-04-19
3        2018-07-31
4               NaN
            ...
15687    2016-09-15
15688    2016-04-15
15689           NaN
15690    2016-04-07
15691           NaN
Name: First Review, Length: 15692, dtype: object